<div class="container container-show-bottle">
  <div class="subcontainer-show-bottle">
    <% if @bottle.photo.attached? %>
      <%= cl_image_tag @bottle.photo.key, height: 400 %>
    <% else %>
      <%= image_tag "/#" %>
    <% end %>
  </div>
  <div class="product-info">
    <div class="bottle-info">
      <h1><%= @bottle.domain %><%= @bottle.label %></h1>
      <h2><%= @bottle.appellation %><%= " - " %><%= @bottle.region %></h2>
      <h3><%= @bottle.vintage %></h3>
    </div>
    <br>
    <div class="bottle-infos-show">
      <p><%= @bottle.color %></p>
      <p><%= @bottle.characteristics %></p>
      <p><%= @bottle.aroma %></p>
    </div>
    <div class="bottle-price_range">
      <p><strong>Price: </strong><%= @bottle.price_range %> €</p>
    </div>
    <div class="other-info">
      <p><strong>Additionnal information:</strong></p>
      <p> <%= @bottle.description %></p>
    </div>
    <div class="banner-content">
      <div class="show-buttons">
        <%= link_to "< Back to Bottles", bottles_path, class: "btn_show" %>
        <%= link_to "Add to my favorites", user_profile_path(@bottle), method: :post %>
      </div>
    </div>
<!--
    <h4 class="feedbacks-titles"><strong>Feedbacks</strong></h4>
    <%# if @bottle.feedbacks.empty? %>
      <p class="feedback-titles">Be the first to share your experience</p>
    <%# else %>
      <ul class="list-group">
        <%# @bottle.feedbacks.each do |feedback| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= @feedback.content %>
          </li>
        <%# end %>
      </ul>
    <%# end %>
    <%#= render "feedbacks/new", bottle: @bottle, feedback: @feedback %>
  -->
  </div>
</div>
