<div class="modal fade" id="bottleModal<%= bottle.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container container-show-bottle">
          <div class="link-back-bottles">
            <%= submit_tag 'X', :type => :reset, :class => "btn-close-modal", "data-dismiss" => "modal", "aria-hidden" => "true" %>
          </div>
          <div class="subcontainer-show-bottle">
            <% if bottle.photo.attached? %>
              <%= cl_image_tag bottle.photo.key, height: 400 %>
            <% else %>
              <%= image_tag "/#" %>
            <% end %>
          </div>
          <div class="product-info">
            <div class="bottle-info">
              <%= image_tag "Group.svg" %>
              <h1><%= bottle.domain %><%= bottle.label %></h1>
              <h2><%= bottle.appellation %><%= " - " %><%= bottle.region %></h2>
              <h3><%= bottle.vintage %></h3>
            </div>
            <br>
            <div class="bottle-infos-show">
              <p><%= bottle.color %></p>
              <p><%= bottle.characteristics %></p>
              <p><%= bottle.aroma %></p>
            </div>
            <div class="bottle-price_range">
              <p><strong>Price: </strong><%= bottle.price_range %> €</p>
            </div>
            <div class="other-info">
              <p><strong>Additionnal information:</strong></p>
              <p> <%= bottle.description %></p>
            </div>
            <div class="banner-content">
              <div class="show-buttons">
                <% if controller_name == 'bottles' %>
                  <%= link_to "Add to my favorites", user_favorites_path(bottle_id:bottle.id), method: :post, class: "btn-red btn-favorites" %>
                <%# elsif controller_name == 'user_favorites' %>
                  <%#= link_to user_favorite_path(bottle_id:bottle.id, user_favorite), method: :delete, do %>
<!--                     <i class="far fa-trash-alt imgt"></i> -->
                  <%# end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>
