<div class="container-show-profile">
  <div class="container">
    <h1><%= "Tailor made for " %><%= @user_profile.username %></h1>
      <h3><%= "based on your answers" %></h3>
    <div class="flat-bar">
    </div>
    <div class="user-preferences">
      <div class="user-profile-color-container">
        <div class="user-profile-color <%= @user_profile.color == "Rosé" ? "rose" : @user_profile.color.downcase %>"></div>
        <p><%= @user_profile.color %></p>
      </div>
      <% if @user_profile.selected_aroma %>
        <div class="user-profile-aroma">
          <div class="avatar preference-icon">
            <%= image_tag "#{Bottle::AROMAS[@user_profile.selected_aroma.downcase.to_sym]}.svg", class: "aroma-img", alt: "avatar-large" %>
          </div>
          <p><%= @user_profile.selected_aroma %></p>
        </div>
      <% end %>
      <div class="user-profile-grape">
        <div class="avatar preference-icon">
          <%= image_tag "profile-icon-bottle.svg", alt: "avatar-large" %>
        </div>
        <p><%= @user_profile.selected_grape %></p>
      </div>
    </div>
  </div>
</div>

<div class="card-container cards">
      <% @recommended_bottles.each do |bottle| %>
          <div class="card-bottle-index">
            <div class="card-bottle-button">
              <a href="#exampleModal" data-toggle="modal" class="btn-modal-index">
                <%= image_tag "eye_bottles.svg" %>
              </a>

            </div>
            <div class="card-bottle-index-img">
              <div class="img-bottle-index">
                <% if bottle.photo.attached? %>
                  <%= cl_image_tag bottle.photo.key, crop: :fill %>
                <% else  %>
                  <img src="#" alt="">
                <% end %>
              </div>
            </div>
            <div class="card-bottle-domain-appellation">
              <h2 class="bottle-domain"><%= bottle.domain %></h2>
              <p><%= bottle.appellation %></p>
            </div>
            <div class="card-footer-country-year">
              <div class="card-footer-country">
                <% if bottle.region.present? %>
                  <p><%= bottle.region.upcase %></p>
                <% end %>
              </div>
              <div class="card-bottle-year">
                <p><%= bottle.vintage %></p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
